body {
  font-family: "Roboto";
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.portfolio-container {
  display: flex;
  align-items: center;
}

.header-web {
  color: #2196f3;
}

.header-studio {
  color: #000;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-nav {
  margin-left: 93px;
  margin-right: 344px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-page:hover {
  color: #2196f3;
}

.catalog {
  padding-top: 94px;
  padding-bottom: 34px;
}

.catalog-list
{
  display: flex;
  gap: 8px;
  justify-content: center;
  border: none;
}

.catalog-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.catalog-page:hover {
  color: #2196f3;
}

.portfolio {
  padding-bottom: 114px;
}

.portfolio-photo {
  width: 370px;
  height: 294px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-box
{
  margin: 20px 24px 24px 20px;

}

.portfolio-list
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  gap: 30px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.footer-web {
  color: #2196f3;
}

.footer-studio {
  color: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}

.footer-list
{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
